# Rojo build artifacts
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
*.session.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json

# Node tooling (if added later)
node_modules/

#Others
.exe
